body{
	font-family: serif;
	background-color: #E8F4FF;
}

/*----------------------------------------Large regions*/
.titleBar{
	background-color: greenyellow;
}

.pageBody{
	background-color: blue;

}

.newsfeed{
	background-color: purple;
}

.sidebar{
	background-color: orange;
}

/*----------------------------------------small regions*/
.barSection{
	border: green 2px solid;
}

.newsNote{
	border: red 2px solid;
}