body{
	font-family: 'Josefin Sans', sans-serif;
}
/*----------------------------------------Large regions*/
.sidebar{
	border: dodgerblue 4px dotted;
}

/*----------------------------------------page header*/
.titleBar h1{
	font-weight: 300;
}

/*----------------------------------------Newsfeed classes*/
.newsNote{
	box-shadow: 3px 3px 3px grey;
}

/*----------------------------------------sidebar classes*/
.barSection h1{
	text-align: right;
}

.barSection h2{
	font-weight: 500;
}

.barSection p{
	font-weight: 300;
}