p {
	background-color: yellow;
}

p.special {
	font-size: 96px;
}

/*
 * p {...} => a rule
 * p => selector (generally an HTML element)
 * background-color: yellow; => declaration
 * background-color => property
 * yellow => value 
*/

h2 {
	font-family: "Helvetica";
}
a {
	visibility: hidden;
}

#foo {
	color: blue;
	background-color: yellow;
	font-family: "Comic Sans MS";
	font-size: 24px;
	border-style: dotted;
	text-align: center;
}

#foo {
	background-color: #32CD32;
}
